body{
    /*background-color: aquamarine;
    background-image: url(img1.jpg);
    background-size:cover;

}

ul{
    background-color: burlywood;
}

table{
    border-style: dashed;
    color: black;
}

.dot{
    border-style: dashed;
}*/

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: yellow;
}
li{
    float: left;
}

li a{
    display: block;
    color: violet;
    text-align: center;
    padding: 20px 24px;
    text-decoration:none;
}
li a:hover:not(.active){
    background-color: yellow;
}
.active{
    background-color: blue;
}